/* 
font-family: 'Merriweather', serif;
font-family: 'MonteCarlo', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Shadows Into Light', cursive; 
*/

/* Tag Selector */
body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

h1 {
  /* 100% = 16px = 1em */
  /* em is also known as M is the width of the letter M also 1em=16px*/
  /* em or % is inherited 
  rem is root em it would not inherit the parents value*/
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

hr {
  border: dotted #eaf6f6;
  border-bottom: none;
  border-width: 10px;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

/* img{
  display: block;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
} */

/********************************** Class Selector **********************************/

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.email-btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.email-btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.middle-container {
  margin: 100px 0px;
}

.bottom-container {
  background-color: #66bfbf;
  color: #11999e;
  margin: 50px 0px 0px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.computer-img {
  background-color: #0cecdd;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
  width: 25%;
}

.copyright-text {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.footer-link {
  font-weight: bolder;
}

.piano-img {
  border-radius: 100%;
  float: right;
  margin-left: 30px;
  width: 25%;
}

.pro {
  text-decoration: underline;
  display: inline-block;
}

.profile-pic {
  background-color: khaki;
  border-radius: 100%;
  height: 150px;
  margin-top: 30px;
  width: 150px;
}

.self-intro {
  width: 30%;
  text-align: center;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 100px;
  position: relative;
}
